  <p id="notice"><%= notice %></p>

  <h1>Employees</h1>

  <dl class="sub-nav">
    <dt>Filter:</dt>
    <dd><a href="#">All</a></dd>
    <dd><a href="#">Functional</a></dd>
    <dd><a href="#">Technical</a></dd>
    <dd><a href="#">Assigned</a></dd>
    <dd><a href="#">Bench</a></dd>
  </dl>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>     
        <th>Division</th>     
        <th>Title</th>
        <th>Role</th>
        <th>Assigned</th>        
        <th>Planit Since</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each_with_index do |employee, idx| %>
        <tr>
          <td><%= idx+1 %></td>
          <td><%= employee.name %></td>
          <td><%= employee.division %></td>
          <td><%= employee.title %></td>
          <td><%= employee.role %></td>
          <td><%= employee.assigned %></td>          
          <td><%= time_ago_in_words(employee.joined_planit_at) %></td>
          <td><%= link_to 'Show', employee %></td>
          <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
          <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  

  <%= link_to 'New Employee', new_employee_path, class: "button" %>

